@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
//Variables
.container {
    margin: auto;
    width: 75%;
    padding: 12%;
}

body {
    background: #061115;
    //background-image: url('siteBackground.png');
    color: #d9d7d6;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 100%;
}

//outline of main area
body {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #8CD7AA;
  outline-offset: -50px;
  padding: 0 0.7em 0;
  //padding: 10%;
}

hr {
  border-top: 2px solid #DF5B61;
  border-radius: 2px;
}

li {
  list-style-type: "\03BB";
  list-style-position: outside;
  color: #78B892;
  padding-left: 10px;
  //font-size: 17px;
}

img {
  height: 20%;
  width: 20%;
}
div {width: 50%;}

a {
  font-size: 100%;
}

 /* unvisited link */
a:link {
  color: #E9967E;
}

/* visited link */
a:visited {
  color: #BC83E3;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.title {
  font-size: 170%;
  //padding: 1px 0.5em 1px;  
}
