<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallant</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body> 
  <section class="section">
    <div class="container">
      
      {% block content %} {% endblock %}
      
      <div style="text-align: center;">
        <hr>
        <a href="/">home</a> ⫘  <a href="/projects/">projects</a> ⫘ <a href="/blog/">blog</a>
      </div>
    </div>
  </section>
</body>

</html>
