{% extends "base.html" %}

{% block content %}


<h1 class="title">
  Welcome To My Quiet Little Suburban Home
</h1>
<hr>
Hey I'm Gallant, I work with mostly Rust.
<div>
  <hr>

  <h4>Stuff:</h4>
  <ul>
    <li><a href="https://git.karx.xyz/gallant/">My Git</a></li>
    <li><a href="mailto:gallantcrusader@proton.me">Reach Out</a></li>
  </ul>

  <h4>Pals:</h4>
  <ul>
    <li><a href="https://karx.xyz/">karx</a></li>
    <li><a href="https://lemonsh.moe">lemon</a></li>
    <li><a href="https://famfo.xyz">famfo</a></li>
    <li><a href="https://missingpiece.dev/">missing</a></li>
    <!-- <li><a href=""></a></li> -->
  </ul>
</div>
<div>
  
</div>
{% endblock content %}
